[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=18.1"
inflection = ">=0.3"
factory-boy = "*"
jinja2 = "*"
sqlalchemy = "==1.3.0b2"

[dev-packages]
behave = "*"
flask = "*"
flask-marshmallow = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
pycodestyle = "*"
pyhamcrest = "*"
python-dateutil = "*"
sqlalchemy = "*"
twine = "*"
mamba = "*"
expects = "*"
sqlalchemy-utils = "*"
pipenv = "*"
ipdb = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
