[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
behave = "*"
flask = "*"
flask-marshmallow = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
inflection = "*"
marshmallow-sqlalchemy = "*"
pycodestyle = "*"
pyhamcrest = "*"
python-dateutil = "*"
sqlalchemy = "*"
twine = "*"
mamba = "*"
expects = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.6"
