{%- set entity = template.entity -%}
{%- if   entity.identifier_column.type_option.value == 'UUID' -%}
{%- set id_column_constructor = "factory.Faker('uuid4')" -%}
{%- elif entity.identifier_column.type_option.value == 'string' -%}
{%- set id_column_constructor = "factory.Faker('uuid4')" -%}
{%- elif entity.identifier_column.type_option.value == 'int' -%}
{%- set id_column_constructor = "factory.Faker('pyint')" -%}
{%- elif entity.identifier_column.type_option.value == 'float' %}
{%- set id_column_constructor = "factory.Faker('pyfloat')" -%}
{%- elif entity.identifier_column.type_option.value == 'date' -%}
{%- set id_column_constructor = "factory.Faker('date_this_year')" -%}
{%- elif entity.identifier_column.type_option.value == 'datetime' -%}
{%- set id_column_constructor = "factory.Faker('date_time_this_decade')" -%}
{%- endif -%}
import factory
import uuid

from {{ template.db_import_path }} import db
from {{ template.module_name }}.sqlalchemy.model.{{ entity.class_name }} import {{ entity.class_name }}


class {{ entity.class_name }}Factory(factory.alchemy.SQLAlchemyModelFactory):
    class Meta:
        model = {{ entity.class_name }}
        sqlalchemy_session = db.session

    {{ entity.identifier_column.python_name }} = factory.Faker('{{ entity.identifier_column.faker_method }}')
