from {{ template.module_name }}.domain.types import DomainModel, Relationship

{% for relationship in template.entity.relationships %}
from {{ template.module_name }}.sqlalchemy.model.{{ relationship.target_entity_class_name }} import {{ relationship.target_entity_class_name }}
{%- endfor %}

{{ template.entity.python_name }} = DomainModel(
    relationship_map={
{%- for relationship in template.entity.relationships %}
        '{{ relationship.source_column_name }}': Relationship(
            target={{ relationship.target_entity_class_name }},
            target_identifier_column='{{ relationship.target_identifier_column_name }}',
            lazy=True,
        ),
{%- endfor %}
    },
    identifier_column_name='{{ template.entity.identifier_column.python_name }}',
)

