from {{ template.module_name }}.domain.types import DomainModel, Relationship

{% for target_entity_class_name in template.sqlalchemy_model_imports() %}
from {{ template.module_name }}.sqlalchemy.model.{{ target_entity_class_name }} import {{ target_entity_class_name }}
{%- endfor %}

{{ template.entity.python_name }} = DomainModel(
    external_identifier_map={
{%- for relationship in template.entity.relationships -%}
    {% if relationship.__class__.__name__ == 'RelationshipWithoutJoinTable' and
                  relationship.join.value == 'to_one' %}
        '{{ relationship.key_alias_in_json }}': Relationship(
            sqlalchemy_model_class={{ relationship.target_entity_class_name }},
            target_name='{{ relationship.target_entity_python_name }}',
            target_identifier_column='{{ relationship.target_identifier_column_name }}',
            source_foreign_key_column='{{ relationship.source_foreign_key_column_name }}',
            lazy={{ relationship.lazy }},
            nullable={{ relationship.nullable }},
        ),
    {%- endif %}
{%- endfor %}
    },
    identifier_column_name='{{ template.entity.identifier_column.python_name }}',
    relationship_keys=[
{%- for relationship in template.entity.relationships %}
        '{{ relationship.property_name }}',
{%- endfor %}
    ],
    property_keys=[
{%- for column in template.entity.columns %}
        '{{ column.python_name }}',
{%- endfor %}
    ],
    json_translation_map={
        '{{ template.entity.identifier_column.python_name }}': 'id',
{%- for relationship in template.entity.relationships -%}
    {%- if relationship.__class__.__name__ == 'RelationshipWithoutJoinTable' and
                  relationship.join.value == 'to_one' %}
        '{{ relationship.key_alias_in_json }}': '{{ relationship.property_name }}',
    {%- endif %}
{%- endfor %}
    },
    eager_relationships=[
{%- for relationship in template.entity.relationships %}
    {%- if not relationship.lazy %}
        '{{ relationship.property_name }}',
    {%- endif %}
{%- endfor %}
    ],
)

