from flask_restplus import Api
{% for entity in template.entities -%}
from {{ template.module_name }}.resources.{{ entity.class_name }} {# -#}
    import api as {{ entity.plural }}_api
{% endfor %}

api = Api(
    title='{{ template.api_name }}',
    version='1.0',
    description='{{ template.api_description }}',
)

{% for entity in template.entities -%}
api.add_namespace({{ entity.plural }}_api)
{% endfor %}
