{{ template.entity.python_name }}_model = api.model('{{ template.entity.class_name }}', {
{%- for column in template.entity.columns %}
    {%- set column_type = column.restplus_type.value if column.__class__.__name__ != 'ForeignKey'
                                                   else column.target_restplus_type.value %}
    '{{ column.json_property_name }}': fields.{{ column_type }}(),
{%- endfor %}
{%- for api_path in template.entity.api_paths %}
    '{{ api_path.property_name }}': fields.Url('{{ api_path.endpoint }}'),  # noqa: E501
{%- endfor %}
})
